---
- name: Configure elastic repository
  ansible.builtin.include_role:
    name: nephelaiio.elastic_repo
  when: filebeat_repo_manage

- name: Inspect packages
  ansible.builtin.package_facts:
    manager: auto

- name: Release filebeat package pin
  when: filebeat_package_hold | bool
  block:
    - name: Disable yum package lock
      when: ansible_os_family == 'RedHat'
      block:
        - name: Install yum version lock support
          ansible.builtin.package:
            name: yum-plugin-versionlock

        - name: Disable yum package lock
          community.general.yum_versionlock:
            name: "{{ item }}"
            state: absent
          loop: "{{ [filebeat_package_names] | flatten }}"
          changed_when: false
          when: item in packages

    - name: Disable apt package lock
      ansible.builtin.dpkg_selections:
        name: "{{ item }}"
        selection: install
      loop: "{{ [filebeat_package_names] | flatten }}"
      changed_when: false
      when:
        - item in packages
        - ansible_os_family == 'Debian'

- name: Manage filebeat elastic packages
  ansible.builtin.package:
    name: "{{ filebeat_package_names }}"
    state: "{{ filebeat_package_state }}"

- name: Configure filebeat service
  when: filebeat_package_state in ['present', 'latest']
  block:
    - name: Enable package locks
      when: filebeat_package_hold | bool
      block:
        - name: Enable apt package hold
          ansible.builtin.dpkg_selections:
            name: "{{ item }}"
            selection: hold
          loop: "{{ [filebeat_package_names] | flatten }}"
          changed_when: false
          when: ansible_os_family == 'Debian'

        - name: Enable yum package lock
          community.general.yum_versionlock:
            name: "{{ item }}"
            state: present
          loop: "{{ [filebeat_package_names] | flatten }}"
          changed_when: false
          when: ansible_os_family == 'RedHat'

    - name: Manage filebeat main configuration file
      ansible.builtin.copy:
        content: |
          # Ansible managed

          {{ filebeat_conf | to_nice_yaml(indent=2) }}
        dest: "{{ filebeat_conf_path }}"
        mode: "0644"
      notify: filebeat_restart

    - name: Manage filebeat module configuration list
      ansible.builtin.copy:
        dest: "{{ filebeat_conf_modules_path }}/{{ item.key }}{{ filebeat_conf_modules_ext}}"
        content: |
          ---
          {{ item.value | to_nice_yaml(indent=2) }}
        mode: "0644"
      loop_control:
        label: "{{ item.key }}"
      loop: "{{ filebeat_conf_modules | dict2items }}"
      when: filebeat_conf_manage | bool
      notify: filebeat_restart

    - name: Manage filebeat services
      ansible.builtin.service:
        name: "{{ filebeat_service_name }}"
        state: "{{ filebeat_service_status }}"
        enabled: "{{ filebeat_service_enabled }}"

    - name: List disabled modules
      ansible.builtin.find:
        paths: "{{ filebeat_conf_modules_path }}"
        patterns: "*.disabled"
      register: filebeat_modules_disabled

    - name: Remove disabled modules
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop: "{{ filebeat_modules_disabled.files | map(attribute='path') }}"

    - name: Remove reference configuration
      ansible.builtin.file:
        path: "{{ filebeat_conf_path | dirname }}/filebeat.reference.yml"
        state: absent

    - name: List active modules
      ansible.builtin.find:
        paths: "{{ filebeat_conf_modules_path }}"
        patterns: "*"
      register: filebeat_modules_active

    - name: List installation artifacts
      ansible.builtin.find:
        paths: "{{ filebeat_conf_modules_path }}"
        patterns: "*.dpkg-dist"
        recurse: true
      register: filebeat_conf_artifacts

    - name: Drop installation artifacts
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop: "{{ filebeat_conf_artifacts.files | map(attribute='path') }}"

    - name: List present modules
      ansible.builtin.find:
        paths: "{{ filebeat_conf_modules_path }}"
        patterns: "*"
      register: filebeat_modules_present

    - name: Drop inactive modules
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      vars:
        _filebeat_conf_files: "{{ filebeat_modules_present.files | map(attribute='path') }}"
        _filebeat_modules_path: "{{ filebeat_conf_modules_path }}/"
        _filebeat_modules_names: "{{ filebeat_conf_modules | dict2items | map(attribute='key') }}"
        _filebeat_modules_basenames: "{{ _filebeat_modules_names | map('regex_replace', '$', filebeat_conf_modules_ext) }}"
        _filebeat_modules_files: "{{ [_filebeat_modules_path] | product(_filebeat_modules_basenames) | map('join') }}"
      loop: "{{ _filebeat_modules_files | difference(_filebeat_conf_files) | list }}"
