---
- name: configure elastic repo
  include_role:
    name: nephelaiio.elastic_repo
  when: filebeat_repo_manage | bool

- name: inspect packages
  package_facts:
    manager: auto

- block:

    - block:

        - name: install yum version lock support
          package:
            name: yum-plugin-versionlock

        - name: disable yum package lock
          community.general.yum_versionlock:
            name: "{{ item }}"
            state: absent
          loop: "{{ [filebeat_package_names] | flatten }}"
          when: item in packages
          tags:
            - skip_ansible_lint

      when: (ansible_os_family | lower) == 'redhat'

    - name: disable apt package lock
      dpkg_selections:
        name: "{{ item }}"
        selection: install
      loop: "{{ [filebeat_package_names] | flatten }}"
      when:
        - (ansible_os_family | lower) == 'debian'
        - item in packages

  when: filebeat_package_hold | bool

- name: install filebeat elastic packages
  package:
    name: "{{ filebeat_package_names }}"
    state: "{{ filebeat_package_state }}"

- block:

    - block:

        - name: enable apt package hold
          dpkg_selections:
            name: "{{ item }}"
            selection: hold
          loop: "{{ [filebeat_package_names] | flatten }}"
          when: (ansible_os_family | lower) == 'debian'

        - name: enable yum package lock
          community.general.yum_versionlock:
            name: "{{ item }}"
            state: present
          loop: "{{ [filebeat_package_names] | flatten }}"
          when: (ansible_os_family | lower) == 'redhat'
          tags:
            - skip_ansible_lint

      when: filebeat_package_hold | bool

    - name: configure filebeat
      copy:
        content: |
          # Ansible managed

          {{ filebeat_conf | to_nice_yaml(indent=2) }}
        dest: "{{ filebeat_conf_path }}"
        mode: 0644
      notify: restart filebeat

    - name: prune stale filebeat module configuration files
      file:
        path: "{{ filebeat_conf_modules_path }}/{{ module_name }}.yml.disabled"
        state: absent
      vars:
        module_name: "{{ module_conf.module }}"
      loop_control:
        loop_var: module_conf
        label: "{{ module_name }}"
      loop: "{{ filebeat_conf_modules }}"

    - name: manage filebeat module configuration files
      copy:
        dest: "{{ filebeat_conf_modules_path }}/{{ module_name }}.yml"
        content: |
          ---
          {{ module_conf_item | to_nice_yaml(indent=2) }}
        mode: 0644
      vars:
        module_name: "{{ module_conf.module }}"
        module_conf_item:
          - "{{ module_conf }}"
      loop_control:
        loop_var: module_conf
        label: "{{ module_name }}"
      notify: restart filebeat
      loop: "{{ filebeat_conf_modules }}"
      when: filebeat_conf_manage | bool

    - name: manage filebeat services
      service:
        name: "{{ filebeat_service_name }}"
        state: "{{ filebeat_service_status }}"
        enabled: "{{ filebeat_service_enabled }}"

  when: filebeat_package_state in ['present', 'latest']
